{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API (trimmed for web-agency)",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "List all accounts you have ownership or verified access to.",
        "operationId": "accounts-list-accounts",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "Name of the account.",
              "example": "example.com",
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Maximum number of results per page.",
              "maximum": 50,
              "minimum": 5,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "description": "Direction to order results.",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "List Accounts response failure"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_collection_accounts"
                }
              }
            },
            "description": "List Accounts response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Accounts",
        "tags": [
          "Accounts"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Create an account (only available for tenant admins at this time)",
        "operationId": "account-creation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_create-account"
              }
            }
          },
          "description": "Parameters for account creation",
          "required": true
        },
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Account Creation Failure Response"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_single_account"
                }
              }
            },
            "description": "Account Creation Success Response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create an account",
        "tags": [
          "Accounts"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": false,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}": {
      "delete": {
        "description": "Delete a specific account (only available for tenant admins at this time). This is a permanent operation that will delete any zones or other resources under the account",
        "operationId": "account-deletion",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account ID of the account to be deleted",
              "type": "string"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Account Deletion Failure Response"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-single-id"
                }
              }
            },
            "description": "Account Deletion Success Response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a specific account",
        "tags": [
          "Accounts"
        ],
        "x-api-token-group": [
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": false,
          "free": false,
          "pro": false
        }
      },
      "get": {
        "description": "Get information about a specific account that you are a member of.",
        "operationId": "accounts-account-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Account Details response failure"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_single_account"
                }
              }
            },
            "description": "Account Details response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Account Details",
        "tags": [
          "Accounts"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read",
          "DNS View Write",
          "DNS View Read",
          "SCIM Provisioning",
          "Load Balancers Account Write",
          "Load Balancers Account Read",
          "Zero Trust: PII Read",
          "DDoS Botnet Feed Write",
          "DDoS Botnet Feed Read",
          "Workers R2 Storage Write",
          "Workers R2 Storage Read",
          "DDoS Protection Write",
          "DDoS Protection Read",
          "Workers Tail Read",
          "Workers KV Storage Write",
          "Workers KV Storage Read",
          "Workers Scripts Write",
          "Workers Scripts Read",
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read",
          "Account Firewall Access Rules Write",
          "Account Firewall Access Rules Read",
          "DNS Firewall Write",
          "DNS Firewall Read",
          "Billing Write",
          "Billing Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Update an existing account.",
        "operationId": "accounts-update-account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_components-schemas-account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Update Account response failure"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_single_account"
                }
              }
            },
            "description": "Update Account response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update Account",
        "tags": [
          "Accounts"
        ],
        "x-api-token-group": [
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/pages/projects": {
      "get": {
        "description": "Fetch a list of all user projects.",
        "operationId": "pages-project-get-projects",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Which page of projects to fetch.",
              "example": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "How many projects to return per page.",
              "example": 10,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get projects response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_project"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get projects response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get projects",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "post": {
        "description": "Create a new project.",
        "operationId": "pages-project-create-project",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "build_config": {
                    "description": "Configs for the project build process.",
                    "properties": {
                      "build_caching": {
                        "description": "Enable build caching for the project.",
                        "example": true,
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "build_command": {
                        "description": "Command used to build project.",
                        "example": "npm run build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "destination_dir": {
                        "description": "Output directory of the build.",
                        "example": "build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "root_dir": {
                        "description": "Directory to run the command.",
                        "example": "/",
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_tag": {
                        "description": "The classifying tag for analytics.",
                        "example": "cee1c73f6e4743d0b5e6bb1a0bcaabcc",
                        "nullable": true,
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_token": {
                        "description": "The auth token for analytics.",
                        "example": "021e1057c18547eca7b79f2516f06o7x",
                        "nullable": true,
                        "type": "string",
                        "x-sensitive": true
                      }
                    },
                    "type": "object"
                  },
                  "deployment_configs": {
                    "description": "Configs for deployments in a project.",
                    "properties": {
                      "preview": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for preview deploys."
                      },
                      "production": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for production deploys."
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "Name of the project.",
                    "example": "my-pages-app",
                    "type": "string",
                    "x-auditable": true
                  },
                  "production_branch": {
                    "description": "Production branch of the project. Used to identify production deployments.",
                    "example": "main",
                    "type": "string",
                    "x-auditable": true
                  },
                  "source": {
                    "description": "Configs for the project source control.",
                    "properties": {
                      "config": {
                        "properties": {
                          "deployments_enabled": {
                            "deprecated": true,
                            "description": "Whether to enable automatic deployments when pushing to the source repository.\nWhen disabled, no deployments (production or preview) will be triggered automatically.\n",
                            "type": "boolean",
                            "x-auditable": true,
                            "x-stainless-deprecation-message": "Use `production_deployments_enabled` and `preview_deployment_setting` for more granular control."
                          },
                          "owner": {
                            "description": "The owner of the repository.",
                            "example": "my-org",
                            "type": "string",
                            "x-auditable": true
                          },
                          "owner_id": {
                            "description": "The owner ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "path_excludes": {
                            "description": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "path_includes": {
                            "description": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "pr_comments_enabled": {
                            "description": "Whether to enable PR comments.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "preview_branch_excludes": {
                            "description": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_branch_includes": {
                            "description": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_deployment_setting": {
                            "description": "Controls whether commits to preview branches trigger a preview deployment.",
                            "enum": [
                              "all",
                              "none",
                              "custom"
                            ],
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_branch": {
                            "description": "The production branch of the repository.",
                            "example": "main",
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_deployments_enabled": {
                            "description": "Whether to trigger a production deployment on commits to the production branch.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "repo_id": {
                            "description": "The ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "repo_name": {
                            "description": "The name of the repository.",
                            "example": "my-repo",
                            "type": "string",
                            "x-auditable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": {
                        "description": "The source control management provider.",
                        "enum": [
                          "github",
                          "gitlab"
                        ],
                        "example": "github",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": [
                      "type",
                      "config"
                    ],
                    "type": "object"
                  }
                },
                "required": [
                  "name",
                  "production_branch"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Create project response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create project response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}": {
      "delete": {
        "description": "Delete a project by name.",
        "operationId": "pages-project-delete-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete project response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete project response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      },
      "get": {
        "description": "Fetch a project by name.",
        "operationId": "pages-project-get-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get project response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get project response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "patch": {
        "description": "Set new attributes for an existing project. Modify environment variables. To delete an environment variable, set the key to null.",
        "operationId": "pages-project-update-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "deployment_configs": {
                    "production": {
                      "compatibility_date": "2022-01-01",
                      "compatibility_flags": [
                        "url_standard"
                      ],
                      "env_vars": {
                        "NODE_VERSION": {
                          "value": "22"
                        },
                        "delete_this_env_var": null,
                        "secret_var": {
                          "type": "secret_text",
                          "value": "A_CMS_API_TOKEN"
                        }
                      }
                    }
                  }
                },
                "properties": {
                  "build_config": {
                    "description": "Configs for the project build process.",
                    "properties": {
                      "build_caching": {
                        "description": "Enable build caching for the project.",
                        "example": true,
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "build_command": {
                        "description": "Command used to build project.",
                        "example": "npm run build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "destination_dir": {
                        "description": "Output directory of the build.",
                        "example": "build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "root_dir": {
                        "description": "Directory to run the command.",
                        "example": "/",
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_tag": {
                        "description": "The classifying tag for analytics.",
                        "example": "cee1c73f6e4743d0b5e6bb1a0bcaabcc",
                        "nullable": true,
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_token": {
                        "description": "The auth token for analytics.",
                        "example": "021e1057c18547eca7b79f2516f06o7x",
                        "nullable": true,
                        "type": "string",
                        "x-sensitive": true
                      }
                    },
                    "type": "object"
                  },
                  "deployment_configs": {
                    "description": "Configs for deployments in a project.",
                    "properties": {
                      "preview": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for preview deploys."
                      },
                      "production": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for production deploys."
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "Name of the project.",
                    "example": "my-pages-app",
                    "type": "string",
                    "x-auditable": true
                  },
                  "production_branch": {
                    "description": "Production branch of the project. Used to identify production deployments.",
                    "example": "main",
                    "type": "string",
                    "x-auditable": true
                  },
                  "source": {
                    "description": "Configs for the project source control.",
                    "properties": {
                      "config": {
                        "properties": {
                          "deployments_enabled": {
                            "deprecated": true,
                            "description": "Whether to enable automatic deployments when pushing to the source repository.\nWhen disabled, no deployments (production or preview) will be triggered automatically.\n",
                            "type": "boolean",
                            "x-auditable": true,
                            "x-stainless-deprecation-message": "Use `production_deployments_enabled` and `preview_deployment_setting` for more granular control."
                          },
                          "owner": {
                            "description": "The owner of the repository.",
                            "example": "my-org",
                            "type": "string",
                            "x-auditable": true
                          },
                          "owner_id": {
                            "description": "The owner ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "path_excludes": {
                            "description": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "path_includes": {
                            "description": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "pr_comments_enabled": {
                            "description": "Whether to enable PR comments.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "preview_branch_excludes": {
                            "description": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_branch_includes": {
                            "description": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_deployment_setting": {
                            "description": "Controls whether commits to preview branches trigger a preview deployment.",
                            "enum": [
                              "all",
                              "none",
                              "custom"
                            ],
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_branch": {
                            "description": "The production branch of the repository.",
                            "example": "main",
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_deployments_enabled": {
                            "description": "Whether to trigger a production deployment on commits to the production branch.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "repo_id": {
                            "description": "The ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "repo_name": {
                            "description": "The name of the repository.",
                            "example": "my-repo",
                            "type": "string",
                            "x-auditable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": {
                        "description": "The source control management provider.",
                        "enum": [
                          "github",
                          "gitlab"
                        ],
                        "example": "github",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": [
                      "type",
                      "config"
                    ],
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Update project response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update project response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/domains": {
      "get": {
        "description": "Fetch a list of all domains associated with a Pages project.",
        "operationId": "pages-domains-get-domains",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get domains response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_domain"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get domains response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get domains",
        "tags": [
          "Pages Domains"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "post": {
        "description": "Add a new domain for the Pages project.",
        "operationId": "pages-domains-add-domain",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/pages_domain_name"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Add domain response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_domain"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Add domain response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Add domain",
        "tags": [
          "Pages Domains"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/domains/{domain_name}": {
      "delete": {
        "description": "Delete a Pages project's domain.",
        "operationId": "pages-domains-delete-domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_domain_name"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete domain response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete domain response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete domain",
        "tags": [
          "Pages Domains"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      },
      "get": {
        "description": "Fetch a single domain.",
        "operationId": "pages-domains-get-domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_domain_name"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get domain response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_domain"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get domain response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get domain",
        "tags": [
          "Pages Domains"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "patch": {
        "description": "Retry the validation status of a single domain.",
        "operationId": "pages-domains-patch-domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_domain_name"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Patch domain response failure."
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_domain"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Patch domain response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Patch domain",
        "tags": [
          "Pages Domains"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/registrar/domain-check": {
      "post": {
        "description": "Performs real-time, authoritative availability checks directly against domain\nregistries. Use this endpoint to verify a domain is available before attempting\nregistration via `POST /registrations`.\n\n**Important:** Unlike the Search endpoint, these results are authoritative and\nreflect current registry status. Always check availability immediately before\nregistration as domain status can change rapidly.\n\n**Note:** This endpoint uses POST to accept a list of domains in the request\nbody. It is a read-only operation \u2014 it does not create, modify, or reserve\nany domains.\n\n### Extension support\n\nOnly domains on extensions supported for programmatic registration by this API\ncan be registered. If you check a domain on an unsupported extension, the response\nwill include `registrable: false` with a `reason` field explaining why:\n\n- `extension_not_supported_via_api` \u2014 Cloudflare Registrar supports this extension\n  in the dashboard, but it is not yet available for programmatic registration via\n  this API. Register via `https://dash.cloudflare.com/{account_id}/domains/registrations` instead.\n- `extension_not_supported` \u2014 This extension is not supported by Cloudflare\n  Registrar.\n- `extension_disallows_registration` \u2014 The extension's registry has temporarily\n  or permanently frozen new registrations. No registrar can register domains on\n  this extension at this time.\n- `domain_premium` \u2014 The domain is premium priced. Premium registration is not\n  currently supported by this API.\n- `domain_unavailable` \u2014 The domain is already registered, reserved, or otherwise\n  not available for registration on a supported extension.\n\nThe `reason` field is only present when `registrable` is `false`.\n\n### Behavior\n- Maximum 20 domains per request\n- Pricing is only returned for domains where `registrable: true`\n- Results are not cached; each request queries the registry\n\n### Workflow\n1. Call this endpoint with domains the user wants to register.\n2. For each domain where `registrable: true`, present pricing to the user.\n3. If `tier: premium`, note that premium registration is not currently\n   supported by this API and do not proceed to `POST /registrations`.\n4. Proceed to `POST /registrations` only for supported non-premium domains.\n",
        "operationId": "registrar-domain-discovery-check",
        "parameters": [
          {
            "description": "Cloudflare account ID. Required for all Registrar API operations.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/registrar-api_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "bulk_check": {
                  "description": "Check the same name across multiple supported extensions",
                  "summary": "Bulk check across domain extensions",
                  "value": {
                    "domains": [
                      "myawesomebrand.com",
                      "myawesomebrand.net",
                      "myawesomebrand.org",
                      "myawesomebrand.app",
                      "myawesomebrand.dev"
                    ]
                  }
                },
                "multiple_domains": {
                  "summary": "Check multiple domains",
                  "value": {
                    "domains": [
                      "example.com",
                      "example.net",
                      "mycompany.dev"
                    ]
                  }
                },
                "single_domain": {
                  "summary": "Check single domain",
                  "value": {
                    "domains": [
                      "example.com"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/registrar-api_domain_check_request"
              }
            }
          },
          "description": "List of fully qualified domain names (FQDNs) to check. Each domain must include the extension (e.g., \"example.com\", not \"example\").",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "all_available": {
                    "description": "Unique names may be available across domain extensions",
                    "summary": "All domains available",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "domains": [
                          {
                            "name": "xq7mz9brand.com",
                            "pricing": {
                              "currency": "USD",
                              "registration_cost": "8.57",
                              "renewal_cost": "8.57"
                            },
                            "registrable": true,
                            "tier": "standard"
                          },
                          {
                            "name": "xq7mz9brand.net",
                            "pricing": {
                              "currency": "USD",
                              "registration_cost": "9.95",
                              "renewal_cost": "9.95"
                            },
                            "registrable": true,
                            "tier": "standard"
                          }
                        ]
                      },
                      "success": true
                    }
                  },
                  "all_unavailable": {
                    "description": "Common names are often already registered",
                    "summary": "All domains taken",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "domains": [
                          {
                            "name": "example.com",
                            "reason": "domain_unavailable",
                            "registrable": false
                          },
                          {
                            "name": "example.net",
                            "reason": "domain_unavailable",
                            "registrable": false
                          },
                          {
                            "name": "example.org",
                            "reason": "domain_unavailable",
                            "registrable": false
                          }
                        ]
                      },
                      "success": true
                    }
                  },
                  "mixed_availability": {
                    "description": "Some domains available, some taken",
                    "summary": "Mixed availability results",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "domains": [
                          {
                            "name": "cloudflare.com",
                            "reason": "domain_unavailable",
                            "registrable": false
                          },
                          {
                            "name": "my-unique-startup-name-2024.com",
                            "pricing": {
                              "currency": "USD",
                              "registration_cost": "8.57",
                              "renewal_cost": "8.57"
                            },
                            "registrable": true,
                            "tier": "standard"
                          },
                          {
                            "name": "my-unique-startup-name-2024.dev",
                            "pricing": {
                              "currency": "USD",
                              "registration_cost": "10.11",
                              "renewal_cost": "10.11"
                            },
                            "registrable": true,
                            "tier": "standard"
                          }
                        ]
                      },
                      "success": true
                    }
                  },
                  "premium_domain": {
                    "description": "Premium pricing may be surfaced by this endpoint, but premium registration is not currently supported by this API.",
                    "summary": "Premium domain surfaced but not registrable",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "domains": [
                          {
                            "name": "coffee.xyz",
                            "reason": "domain_premium",
                            "registrable": false,
                            "tier": "premium"
                          }
                        ]
                      },
                      "success": true
                    }
                  },
                  "registry_frozen": {
                    "description": "The extension's registry has temporarily or permanently stopped accepting new registrations.",
                    "summary": "Registry has frozen new registrations",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "domains": [
                          {
                            "name": "example.py",
                            "reason": "extension_disallows_registration",
                            "registrable": false
                          }
                        ]
                      },
                      "success": true
                    }
                  },
                  "unsupported_extension": {
                    "description": "The extension is not supported by Cloudflare Registrar at all.",
                    "summary": "Extension not supported by Cloudflare Registrar",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "domains": [
                          {
                            "name": "example.horse",
                            "reason": "extension_not_supported",
                            "registrable": false
                          }
                        ]
                      },
                      "success": true
                    }
                  },
                  "unsupported_via_api": {
                    "description": "The .uk extension is supported by Cloudflare Registrar in the dashboard but not yet available for programmatic registration via this API.",
                    "summary": "Extension supported in dashboard but not via API",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "domains": [
                          {
                            "name": "mybrand.uk",
                            "reason": "extension_not_supported_via_api",
                            "registrable": false
                          },
                          {
                            "name": "mybrand.com",
                            "pricing": {
                              "currency": "USD",
                              "registration_cost": "8.57",
                              "renewal_cost": "8.57"
                            },
                            "registrable": true,
                            "tier": "standard"
                          }
                        ]
                      },
                      "success": true
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/registrar-api_domain_check_response"
                }
              }
            },
            "description": "Successfully returned availability results. Each requested domain appears in the `domains` array with its current availability status and pricing (if available)."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "domains_required": {
                    "description": "The `domains` array must contain at least one domain name to check.",
                    "summary": "Domains array missing or empty",
                    "value": {
                      "errors": [
                        {
                          "code": 1006,
                          "message": "domains array must contain at least one domain"
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  },
                  "no_valid_domains": {
                    "description": "None of the provided domains are valid after normalization and validation.",
                    "summary": "No valid domains",
                    "value": {
                      "errors": [
                        {
                          "code": 1008,
                          "message": "None of the provided domains are valid or have supported extensions"
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  },
                  "too_many_domains": {
                    "description": "The request exceeds the maximum limit of 20 domains per request. Split into multiple requests.",
                    "summary": "Too many domains",
                    "value": {
                      "errors": [
                        {
                          "code": 1007,
                          "message": "domains array exceeds maximum of 20 domains"
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/registrar-api_api-response-common-failure"
                }
              }
            },
            "description": "Invalid request parameters. Common causes:\n- Empty `domains` array\n- Exceeds maximum of 20 domains per request\n- Malformed request body\n- None of the provided domains are valid\n"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Check domain availability",
        "tags": [
          "Domain Discovery"
        ]
      }
    },
    "/accounts/{account_id}/registrar/registrations": {
      "get": {
        "description": "Returns a paginated list of domain registrations owned by the account.\n\nThis endpoint uses cursor-based pagination. Results are ordered by registration\ndate by default. To fetch the next page, pass the `cursor` value from the\n`result_info` object in the response as the `cursor` query parameter in\nyour next request. An empty `cursor` string indicates there are no more\npages.\n",
        "operationId": "registrar-domain-registration-list",
        "parameters": [
          {
            "description": "Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/registrar-api_identifier"
            }
          },
          {
            "$ref": "#/components/parameters/registrar-api_cursor_pagination_cursor"
          },
          {
            "$ref": "#/components/parameters/registrar-api_cursor_pagination_per_page"
          },
          {
            "$ref": "#/components/parameters/registrar-api_cursor_pagination_direction"
          },
          {
            "description": "Column to sort results by. Defaults to registration date\n(`registry_created_at`) when omitted.\n",
            "in": "query",
            "name": "sort_by",
            "schema": {
              "default": "registry_created_at",
              "enum": [
                "registry_created_at",
                "registry_expires_at",
                "name"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_cursor": {
                    "summary": "Invalid cursor",
                    "value": {
                      "errors": [
                        {
                          "code": 10000,
                          "message": "Invalid pagination cursor"
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/registrar-api_api-response-common-failure"
                }
              }
            },
            "description": "List registrations failure."
          },
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "empty_account": {
                    "summary": "Account with no registrations",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": [],
                      "result_info": {
                        "count": 0,
                        "cursor": "",
                        "per_page": 20
                      },
                      "success": true
                    }
                  },
                  "multiple_domains": {
                    "summary": "Account with multiple domains",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": [
                        {
                          "auto_renew": true,
                          "created_at": "2025-01-15T10:00:00Z",
                          "domain_name": "example.com",
                          "expires_at": "2026-01-15T10:00:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": false,
                          "created_at": "2025-03-20T14:30:00Z",
                          "domain_name": "mybrand.dev",
                          "expires_at": "2026-03-20T14:30:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        }
                      ],
                      "result_info": {
                        "count": 2,
                        "cursor": "",
                        "per_page": 20
                      },
                      "success": true
                    }
                  },
                  "next_page": {
                    "description": "Response when fetching the next page by passing the cursor from a previous response. The empty cursor indicates this is the last page.",
                    "summary": "Next page of results (last page)",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": [
                        {
                          "auto_renew": true,
                          "created_at": "2025-04-01T09:00:00Z",
                          "domain_name": "charlie.org",
                          "expires_at": "2026-04-01T09:00:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        }
                      ],
                      "result_info": {
                        "count": 1,
                        "cursor": "",
                        "per_page": 20
                      },
                      "success": true
                    }
                  },
                  "paginated": {
                    "summary": "First page with more results available",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": [
                        {
                          "auto_renew": true,
                          "created_at": "2024-01-15T09:30:00Z",
                          "domain_name": "acmecorp.com",
                          "expires_at": "2026-01-15T09:30:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-02-20T14:00:00Z",
                          "domain_name": "brightwave.net",
                          "expires_at": "2026-02-20T14:00:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-03-05T11:15:00Z",
                          "domain_name": "cloudpeak.org",
                          "expires_at": "2026-03-05T11:15:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-03-22T08:45:00Z",
                          "domain_name": "solarpanel.io",
                          "expires_at": "2026-03-22T08:45:00Z",
                          "locked": true,
                          "privacy_mode": "off",
                          "status": "active"
                        },
                        {
                          "auto_renew": false,
                          "created_at": "2024-04-10T16:00:00Z",
                          "domain_name": "greenleaf.dev",
                          "expires_at": "2026-04-10T16:00:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-05-03T10:30:00Z",
                          "domain_name": "swiftrunner.app",
                          "expires_at": "2026-05-03T10:30:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": false,
                          "created_at": "2024-05-18T13:00:00Z",
                          "domain_name": "northerntrail.co",
                          "expires_at": "2025-05-18T13:00:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "expired"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-06-01T07:20:00Z",
                          "domain_name": "pixelforge.xyz",
                          "expires_at": "2026-06-01T07:20:00Z",
                          "locked": false,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-06-25T15:45:00Z",
                          "domain_name": "oceandrift.com",
                          "expires_at": "2026-06-25T15:45:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-07-12T09:00:00Z",
                          "domain_name": "rocketlaunch.net",
                          "expires_at": "2026-07-12T09:00:00Z",
                          "locked": true,
                          "privacy_mode": "off",
                          "status": "active"
                        },
                        {
                          "auto_renew": false,
                          "created_at": "2024-08-08T12:30:00Z",
                          "domain_name": "blueprintlab.io",
                          "expires_at": "2026-08-08T12:30:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-09-01T18:00:00Z",
                          "domain_name": "maplewood.org",
                          "expires_at": "2026-09-01T18:00:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": false,
                          "created_at": "2024-09-20T10:15:00Z",
                          "domain_name": "thunderbolt.dev",
                          "expires_at": "2025-09-20T10:15:00Z",
                          "locked": false,
                          "privacy_mode": "off",
                          "status": "expired"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-10-05T14:45:00Z",
                          "domain_name": "silverbranch.app",
                          "expires_at": "2026-10-05T14:45:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-11-11T08:00:00Z",
                          "domain_name": "nightowl.co",
                          "expires_at": "2026-11-11T08:00:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2024-12-01T11:30:00Z",
                          "domain_name": "crimsongate.com",
                          "expires_at": "2026-12-01T11:30:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": false,
                          "created_at": "2025-01-07T16:20:00Z",
                          "domain_name": "frostedpine.net",
                          "expires_at": "2027-01-07T16:20:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2025-01-25T09:50:00Z",
                          "domain_name": "horizonline.xyz",
                          "expires_at": "2027-01-25T09:50:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2025-02-14T13:00:00Z",
                          "domain_name": "coppervine.io",
                          "expires_at": "2027-02-14T13:00:00Z",
                          "locked": true,
                          "privacy_mode": "off",
                          "status": "active"
                        },
                        {
                          "auto_renew": true,
                          "created_at": "2025-03-02T07:40:00Z",
                          "domain_name": "starlitpath.org",
                          "expires_at": "2027-03-02T07:40:00Z",
                          "locked": true,
                          "privacy_mode": "redaction",
                          "status": "active"
                        }
                      ],
                      "result_info": {
                        "count": 20,
                        "cursor": "eyJ0IjoiMjAyNS0wNi0xNVQxMjowMDowMC4wMDAwMDBaIiwibiI6ImJyYXZvLm5ldCJ9",
                        "per_page": 20
                      },
                      "success": true
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/registrar-api_registration-response-collection"
                }
              }
            },
            "description": "List of registrations for the account."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Registrations",
        "tags": [
          "Registrar Registration"
        ]
      },
      "post": {
        "description": "Starts a domain registration workflow. This is a billable operation \u2014 successful\nregistration charges the account's default payment method. All successful\ndomain registrations are non-refundable \u2014 once the workflow completes with\n`state: succeeded`, the charge cannot be reversed.\n\n### Prerequisites\n- The account must have a billing profile with a valid default payment method.\n  Set this up at `https://dash.cloudflare.com/{account_id}/billing/payment-info`.\n- The account must not already be at the maximum supported domain limit.\n  A single account may own up to 100 domains in total across registrations\n  created through either the dashboard or this API.\n- The domain must be on a supported extension for programmatic registration.\n- Use `POST /domain-check` immediately before calling this endpoint to confirm\n  real-time availability and pricing.\n\n### Supported extensions\nIn this API, \"extension\" means the full registrable suffix after the domain\nlabel. For example, in `example.co.uk`, the extension is `co.uk`.\n\nProgrammatic registration is currently supported for:\n\n`com`, `org`, `net`, `app`, `dev`, `cc`, `xyz`, `info`, `cloud`, `studio`,\n`live`, `link`, `pro`, `tech`, `fyi`, `shop`, `online`, `tools`, `run`,\n`games`, `build`, `systems`, `world`, `news`, `site`, `network`, `chat`,\n`space`, `family`, `page`, `life`, `group`, `email`, `solutions`, `day`,\n`blog`, `ing`, `icu`, `academy`, `today`\n\nCloudflare Registrar supports 400+ extensions in the dashboard. Extensions\nnot listed above can still be registered at\n`https://dash.cloudflare.com/{account_id}/domains/registrations`.\n\n### Express mode\nThe only required field is `domain_name`. If `contacts` is omitted, the system\nuses the account's default address book entry as the registrant. If no default\nexists and no contact is provided, the request fails. Set up a default address\nbook entry and accept the required agreement at\n`https://dash.cloudflare.com/{account_id}/domains/registrations`.\n\n### Defaults\n- `years`: defaults to the extension's minimum registration period (1 year for\n  most extensions, but varies \u2014 for example, `.ai` (if supported) requires a minimum of 2 years).\n- `auto_renew`: defaults to `false`. Setting it to `true` is an explicit\n  opt-in authorizing Cloudflare to charge the account's default payment\n  method up to 30 days before domain expiry to renew the registration.\n  Renewal pricing may change over time based on registry pricing.\n- `privacy_mode`: defaults to `redaction`.\n\n### Premium domains\nPremium domain registration is not currently supported by this API.\nIf `POST /domain-check` returns `tier: premium`, do not call this\nendpoint for that domain.\n\n### Response behavior\nBy default, the server holds the connection for a bounded, server-defined\namount of time while the registration completes. Most registrations finish\nwithin this window and return `201 Created` with a completed workflow status.\n\nIf the registration is still processing after this synchronous wait window,\nthe server returns `202 Accepted`. Poll the URL in `links.self` to track progress.\n\nTo skip the wait and receive an immediate `202`, send `Prefer: respond-async`.\n",
        "operationId": "registrar-domain-registration-create",
        "parameters": [
          {
            "description": "Cloudflare account ID. Required for all Registrar API operations.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/registrar-api_identifier"
            }
          },
          {
            "description": "Set to `respond-async` to receive an immediate `202 Accepted` without\nwaiting for the operation to complete (RFC 7240).\n\nThe header may be combined with other preferences using standard\ncomma-separated syntax.\n",
            "in": "header",
            "name": "Prefer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "minimal": {
                  "description": "The simplest registration request. All defaults apply:\n- `years` defaults to the extension's minimum registration period (typically 1 year)\n- `auto_renew` defaults to `false`\n- `privacy_mode` defaults to `redaction`\n- Registrant contact falls back to the account's default address book entry\n",
                  "summary": "Minimal registration \u2014 just a domain name",
                  "value": {
                    "domain_name": "my-new-startup.com"
                  }
                },
                "multi_year": {
                  "description": "Register a domain for 3 years.",
                  "summary": "Register for multiple years",
                  "value": {
                    "domain_name": "longterm-project.dev",
                    "years": 3
                  }
                },
                "with_contact": {
                  "description": "Provide registrant contact data inline if the account does not have\na default address book entry, or to override it for this registration.\n",
                  "summary": "Register with explicit registrant contact",
                  "value": {
                    "auto_renew": true,
                    "contacts": {
                      "registrant": {
                        "email": "ada@example.com",
                        "phone": "+1.5555555555",
                        "postal_info": {
                          "address": {
                            "city": "Austin",
                            "country_code": "US",
                            "postal_code": "78701",
                            "state": "TX",
                            "street": "123 Main St"
                          },
                          "name": "Ada Lovelace",
                          "organization": "Example Inc"
                        }
                      }
                    },
                    "domain_name": "example.com",
                    "privacy_mode": "redaction",
                    "years": 1
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/registrar-api_registration_create_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "4XX": {
            "content": {
              "application/json": {
                "examples": {
                  "account_domain_limit_exceeded": {
                    "description": "The account already owns the maximum supported number of domains.\nDomains created through either the dashboard or this API count\ntoward the same account-wide limit.\n",
                    "summary": "Account has reached the domain limit",
                    "value": {
                      "errors": [
                        {
                          "code": 10000,
                          "message": "Domain limit reached: you cannot register more than 100 domains.",
                          "source": {
                            "pointer": "/domain_name"
                          }
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  },
                  "domain_name_required": {
                    "description": "The required `domain_name` field was not provided.",
                    "summary": "Missing domain name",
                    "value": {
                      "errors": [
                        {
                          "code": 10000,
                          "message": "domain_name is required",
                          "source": {
                            "pointer": "/domain_name"
                          }
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  },
                  "invalid_auto_renew": {
                    "description": "The `auto_renew` field must be a boolean if present.",
                    "summary": "Invalid auto_renew value",
                    "value": {
                      "errors": [
                        {
                          "code": 10000,
                          "message": "Must be a boolean",
                          "source": {
                            "pointer": "/auto_renew"
                          }
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  },
                  "missing_contact": {
                    "description": "The request did not include a registrant contact, and the account\nhas no default address book entry to fall back to. Either provide\ncontacts.registrant in the request or set up a default address\nbook entry at `https://dash.cloudflare.com/{account_id}/domains/registrations`.\n",
                    "summary": "No registrant contact and no default address book entry",
                    "value": {
                      "errors": [
                        {
                          "code": 10000,
                          "message": "No registrant contact provided and no default address book entry found for this account."
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  },
                  "registration_not_supported": {
                    "description": "The extension is not supported for registration through this API.\nThis includes extensions that are unsupported by the API or do\nnot support the required registration contact flow.\n",
                    "summary": "Registration not supported for extension",
                    "value": {
                      "errors": [
                        {
                          "code": 10000,
                          "message": "Registration is not supported for this extension"
                        }
                      ],
                      "messages": [],
                      "result": null,
                      "success": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/registrar-api_api-response-common-failure"
                }
              }
            },
            "description": "Create registration failure."
          },
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "completed": {
                    "summary": "Registration completed within timeout (most common)",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "completed": true,
                        "context": {
                          "domain_name": "example.com",
                          "registration": {
                            "auto_renew": true,
                            "created_at": "2025-10-27T10:00:00Z",
                            "domain_name": "example.com",
                            "expires_at": "2026-10-27T10:00:00Z",
                            "locked": true,
                            "privacy_mode": "redaction",
                            "status": "active"
                          }
                        },
                        "created_at": "2025-10-27T10:00:00Z",
                        "links": {
                          "resource": "/accounts/abc/registrar/registrations/example.com",
                          "self": "/accounts/abc/registrar/registrations/example.com/registration-status"
                        },
                        "state": "succeeded",
                        "updated_at": "2025-10-27T10:00:03Z"
                      },
                      "success": true
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/registrar-api_workflow-status-response-single"
                }
              }
            },
            "description": "Registration completed successfully within the synchronous wait window.\nThe workflow status will have `state: succeeded` and `completed: true`.\n",
            "headers": {
              "Preference-Applied": {
                "description": "Echoed when the server honored a `Prefer` header.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "content": {
              "application/json": {
                "examples": {
                  "still_processing": {
                    "summary": "Registration still in progress",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "completed": false,
                        "context": {
                          "domain_name": "example.com"
                        },
                        "created_at": "2025-10-27T10:00:00Z",
                        "links": {
                          "resource": "/accounts/abc/registrar/registrations/example.com",
                          "self": "/accounts/abc/registrar/registrations/example.com/registration-status"
                        },
                        "state": "in_progress",
                        "updated_at": "2025-10-27T10:00:10Z"
                      },
                      "success": true
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/registrar-api_workflow-status-response-single"
                }
              }
            },
            "description": "Registration is still processing. This occurs when the operation did\nnot complete within the synchronous wait window, or when `Prefer: respond-async`\nwas sent. Poll the URL in `links.self` to track progress.\n",
            "headers": {
              "Location": {
                "description": "URL of the workflow status resource (same as `links.self`).",
                "schema": {
                  "type": "string"
                }
              },
              "Preference-Applied": {
                "description": "Set to `respond-async` when the server honored the preference.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Registration",
        "tags": [
          "Registrar Registration"
        ]
      }
    },
    "/accounts/{account_id}/registrar/registrations/{domain_name}": {
      "get": {
        "description": "Returns the current state of a domain registration.\n\nThis is the canonical read endpoint for a domain you own. It returns\nthe full registration resource including current settings and expiration.\nWhen the registration resource is ready, both `created_at` and `expires_at`\nare present in the response.\n",
        "operationId": "registrar-domain-registration-get",
        "parameters": [
          {
            "description": "Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/registrar-api_identifier"
            }
          },
          {
            "description": "Domain name to retrieve.",
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
[...]
